{% extends "courgette/base.html" %}
{% block content %}
<div class="center">
    	<div class="title">
		<h1><a href="https://libremiami.org">Libre<span class="Miami">Miami</span></a></h1>
	</div>
    {% include 'courgette/search.html' %}
    <p class="top_margin">
    	{% if rtl %}
    	<a href="{{ url_for('preferences') }}" class="hmarg">{{ _('preferences') }}</a>
    	{% endif %}
        <a href="{{ url_for('about') }}" class="hmarg">{{ _('about') }}</a>
        {% if not rtl %}
        <a href="{{ url_for('preferences') }}" class="hmarg">{{ _('preferences') }}</a>
        {% endif %}
	<a href="https://git.disroot.org/LibreMiami/libremiami-search" class="hmarg" title="Are you even AGPL compliant bro?">sources</a>
    </p>
</div>
{% endblock %}
