{% extends "courgette/base.html" %}
{% block head %} {% endblock %}
{% block content %}
<div class="row">
    <h1>{{ _('Preferences') }}</h1>

    <form method="post" action="{{ url_for('preferences') }}" id="search_form">
    <fieldset>
        <legend>{{ _('Default categories') }}</legend>
        {% include 'courgette/categories.html' %}
    </fieldset>
    <fieldset>
        <legend>{{ _('Search language') }}</legend>
        <p>
            <select name='language'>
                <option value="all" {% if current_language == 'all' %}selected="selected"{% endif %}>{{ _('Default language') }}</option>
                {% for lang_id,lang_name,country_name,english_name in language_codes | sort(attribute=1) %}
                <option value="{{ lang_id }}" {% if lang_id == current_language %}selected="selected"{% endif %}>{{ lang_name }} {% if country_name %}({{ country_name }}) {% endif %}- {{ lang_id }}</option>
                {% endfor %}
            </select>
        </p>
    </fieldset>
    <fieldset>
        <legend>{{ _('Interface language') }}</legend>
        <p>
            <select name='locale'>
                {% for locale_id,locale_name in locales.items() | sort %}
                <option value="{{ locale_id }}" {% if locale_id == current_locale %}selected="selected"{% endif %}>{{ locale_name }}</option>
                {% endfor %}
            </select>
        </p>
    </fieldset>
    <fieldset>
        <legend>{{ _('Autocomplete') }}</legend>
        <p>
            <select name="autocomplete">
                <option value=""> - </option>
                {% for backend in autocomplete_backends %}
                <option value="{{ backend }}" {% if backend == autocomplete %}selected="selected"{% endif %}>{{ backend }}</option>
                {% endfor %}
            </select>
        </p>
    </fieldset>
    <fieldset>
        <legend>{{ _('Image proxy') }}</legend>
        <p>
            <select name='image_proxy'>
                <option value="1" {% if image_proxy %}selected="selected"{% endif %}>{{ _('Enabled') }}</option>
                <option value="" {% if not image_proxy %}selected="selected"{% endif %}>{{ _('Disabled') }}</option>
            </select>
        </p>
    </fieldset>
    <fieldset>
        <legend>{{ _('Method') }}</legend>
        <p>
            <select name='method'>
                <option value="POST" {% if method == 'POST' %}selected="selected"{% endif %}>POST</option>
                <option value="GET" {% if method == 'GET' %}selected="selected"{% endif %}>GET</option>
            </select>
        </p>
    </fieldset>
    <fieldset>
        <legend>{{ _('SafeSearch') }}</legend>
        <p>
            <select name='safesearch'>
                <option value="2" {% if safesearch == '2' %}selected="selected"{% endif %}>{{ _('Strict') }}</option>
                <option value="1" {% if safesearch == '1' %}selected="selected"{% endif %}>{{ _('Moderate') }}</option>
                <option value="0" {% if safesearch == '0' %}selected="selected"{% endif %}>{{ _('None') }}</option>
            </select>
        </p>
    </fieldset>
    <fieldset>
        <legend>{{ _('Themes') }}</legend>
        <p>
            <select name="theme">
                {% for name in themes %}
                <option value="{{ name }}" {% if name == theme %}selected="selected"{% endif %}>{{ name }}</option>
                {% endfor %}
            </select>
        </p>
    </fieldset>
    <fieldset>
        <legend>{{ _('Color') }}</legend>
        <p>
            <select name="courgette-color">
                <option value="#3498DB #0665A2" {% if cookies['courgette-color'] and cookies['courgette-color'] == '#3498DB #0665A2' %}selected="selected"{% endif %}>{{ _('Blue (default)') }}</option>
                <option value="#6F5499 #563D7C" {% if cookies['courgette-color'] and cookies['courgette-color'] == '#6F5499 #563D7C' %}selected="selected"{% endif %}>{{ _('Violet') }}</option>
                <option value="#5CB85C #449D44" {% if cookies['courgette-color'] and cookies['courgette-color'] == '#5CB85C #449D44' %}selected="selected"{% endif %}>{{ _('Green') }}</option>
                <option value="#5BC0DE #31B0D5" {% if cookies['courgette-color'] and cookies['courgette-color'] == '#5BC0DE #31B0D5' %}selected="selected"{% endif %}>{{ _('Cyan') }}</option>
                <option value="#F0AD4E #EC971F" {% if cookies['courgette-color'] and cookies['courgette-color'] == '#F0AD4E #EC971F' %}selected="selected"{% endif %}>{{ _('Orange') }}</option>
                <option value="#D9534F #C9302C" {% if cookies['courgette-color'] and cookies['courgette-color'] == '#D9534F #C9302C' %}selected="selected"{% endif %}>{{ _('Red') }}</option>
            </select>
        </p>
    </fieldset>
    <fieldset>
        <legend>{{ _('Currently used search engines') }}</legend>

        <table class="engine-table">
            <tr>
                <th>{{ _('Engine name') }}</th>
                <th>{{ _('Shortcut') }}</th>
                <th>{{ _('Category') }}</th>
                <th>{{ _('Allow') }} / {{ _('Block') }}</th>
            </tr>
        {% for categ in all_categories %}
            {% for search_engine in engines_by_category[categ] %}

                {% if not search_engine.private %}
                <tr>
                    <td>{{ search_engine.name }}</td>
                    <td>{{ shortcuts[search_engine.name] }}</td>
                    <td>{{ _(categ) }}</td>
                    <td class="engine_checkbox">
                        <input type="checkbox" id="engine_{{ categ|replace(' ', '_') }}_{{ search_engine.name|replace(' ', '_') }}" name="engine_{{ search_engine.name }}__{{ categ }}"{% if (search_engine.name, categ) in disabled_engines %} checked="checked"{% endif %} />
                        <label class="allow" for="engine_{{ categ|replace(' ', '_') }}_{{ search_engine.name|replace(' ', '_') }}">{{ _('Allow') }}</label>
                        <label class="deny" for="engine_{{ categ|replace(' ', '_') }}_{{ search_engine.name|replace(' ', '_') }}">{{ _('Block') }}</label>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </table>
    </fieldset>
    <p class="small_font">{{ _('These settings are stored in your cookies, this allows us not to store this data about you.') }}
        <br />
        {{ _("These cookies serve your sole convenience, we don't use these cookies to track you.") }}
    </p>
    <div class="preferences-actions">
        <input type="submit" value="{{ _('save') }}" />
        <div class="right preferences_back"><a href="{{ url_for('clear_cookies') }}">{{ _('reset defaults') }}</a></div>
        <div class="right preferences_back"><a href="{{ url_for('index') }}">{{ _('back') }}</a></div>
    </div>
    </form>
</div>
{% endblock %}
