<form method="{{ method or 'POST' }}" action="{{ url_for('index') }}" id="search_form">
    <div id="search_wrapper">
        <input type="submit" value="search" id="search_submit" />
        <input type="text" autofocus id="q" class="q" name="q" tabindex="1" autocomplete="off" {% if q %}value="{{ q }}"{% endif %}/>
    </div>
    {% include 'courgette/categories.html' %}
</form>
