
<div class="about-container"{% if rtl %} dir="ltr"{% endif %}>
  <h1>About LibreMiami Search</h1>

  <p>
    LibreMiami search is an instance of Searx, a <a href="https://en.wikipedia.org/wiki/Metasearch_engine">metasearch engine</a>,
    which combines the results of other <a href="{{ url_for('preferences') }}">search engines</a> without storing your information.
  </p>
<p>
	LibreMiami search was initially deployed and customized in 2020 as a collaborative effort by Misha Klopukh, @jgart, and Roberto Beltran, with additional input from other LibreMiami members  
</p>

  <p>Searx links:</p>

  <ul>
    <li><a href="https://github.com/asciimoo/searx">github</a></li>
    <li><a href="https://twitter.com/Searx_engine">twitter</a></li>
    <li>IRC: #searx @ freenode (<a href="https://kiwiirc.com/client/irc.freenode.com/searx">webclient</a>)</li>
    <li><a href="https://www.transifex.com/projects/p/searx/">transifex</a></li>
  </ul>

  <h2>Why use LibreMiami search?</h2>

  <ul>
    <li>
      We don&rsquo;t keep a creepy profile about you. We don't care or know about what you search for. In fact, we don't keep logs at all.
    </li>
    <li>
	LibreMiami search is libre (duh), and you can download <a href="/full-source/">the source code</a> as it's running on the server.
    </li>
    <li>
      Like everything else in LibreMiami, this search engine is 100% open contribution. Feel free to get in touch if you want to help out or have any suggestions. You can also contribute directly to the <a href="https://github.com/asciimoo/searx">Searx upstream</a>.
    </li>
  </ul>

  <h2>Technical details - How does it work?</h2>

  <p>
    Searx is a <a href="https://en.wikipedia.org/wiki/Metasearch_engine">metasearch engine</a>,
    inspired by the <a href="https://beniz.github.io/seeks/">seeks project</a>.

    It provides basic privacy by mixing your queries with searches on other
    platforms without storing search data. Queries are made using a POST request
    on every browser (except chrome*).  Therefore they show up in neither our
    logs, nor your url history.  In case of Chrome* users there is an exception,
    searx uses the search bar to perform GET requests.

    Searx can be added to your browser's search bar; moreover, it can be set as
    the default search engine.
  </p>

  <h2 id='add to browser'>How to set as the default search engine?</h2>

  <a href="#" onclick="window.external.AddSearchProvider(window.location.protocol + '//' + window.location.host + '{{ url_for('opensearch') }}');">Install</a>
    searx as a search engine on any version of Firefox! (javascript required)

  <h2>How can I make my own?</h2>

  <p>
    A great thing about Searx is that anyone can run their own instance. This can be on a VPS or even on your computer.
    So if you don&rsquo;t like or trust us, that&rsquo;s totally okay! Just take the
    code from the <a href="https://github.com/asciimoo/searx">original searx project</a> and you can
    run it yourself.
  </p>
	<footer>
<p>
  <a href="{{ url_for('index') }}">←  back</a>
</p>
</footer>

</div>
{% include "__common__/aboutextend.html" ignore missing %}
